html {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.4;
  background-color: white;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}


/* --- Main Section --- */


/* Header */

.main {
  height: 30rem;
  background-image: url('../images/glasses-bg.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

.header {
  color: white;
  background-color: cadetblue;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  top: 1rem;
}

.header img {
  height: 1.5rem;
  width: auto;
  padding-right: 1rem;
  margin-left: 2rem;
}

nav {
  text-align: right;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

nav span {
  color: white;
  display: inline-block;
  padding: 1rem 2rem 1rem 0rem;
}


/* Headline Block*/

.main .flexbox {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.headline {
  background-color: white;
  padding: 1.5rem 5rem;
  position: relative;
  top: 10rem;
  margin-right: -2rem;
}

.headline h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  color: black;
  text-transform: uppercase;
}


/* --- Benefits Section --- */

.benefits {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.benefit {
  width: 5rem;
  height: 8rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-line-pack: center;
  align-content: center;
  margin: 3rem;
}

.benefit img {
  margin-bottom: 1rem;
}

.benefit img.paper-icon {
  width: 3.5rem;
  height: auto;
}

.benefit img.ruler-icon {
  width: 5rem;
}

.benefit img.truck-icon {
  width: 5rem;
}

.benefits span {
  display: block;
  text-align: center;
}


/* --- More Info Section --- */

.more-info {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.info {
  width: 35%;
  margin-right: 5%;
  margin-bottom: 5rem;
}

.sub-title {
  width: 10rem;
  color: white;
  background-color: cadetblue;
  padding: 0.5rem 0rem 0.5rem 1.25rem;
  margin-bottom: 1rem;
}

.sub-title h4 {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}


/* --- Footer Section --- */

.footer {
  color: black;
  background-color: azure;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 4rem;
}

.footer img {
  height: 1.5rem;
  width: auto;
  padding-right: 1rem;
}


/* --- Media Queries --- */

@media only screen and (min-width: 1024px) {
  nav.mobile-navigation {
    display: none;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 470px) {
  nav.mobile-navigation {
    display: none;
  }
  .main {
    height: 22rem;
  }
  .header {
    top: 0rem;
    width: 100%
  }
  .headline {
    padding: 0.75rem 4rem;
    top: 5rem;
    margin-right: 2rem;
  }
  .headline h1 {
    font-size: 1.33rem;
  }
}

@media only screen and (max-width: 470px) {
  .header {
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    top: 0rem;
  }
  .header span.company-name {
    display: none;
  }
  .header nav.desktop-navigation {
    display: none;
  }
  .main {
    height: 17rem;
    background-position: 20%;
  }
  .main .flexbox {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .headline {
    width: 100%;
    padding: 1rem 0rem;
    top: 9rem;
    text-align: center;
    margin-right: 0rem;
  }
  .headline h1 {
    font-size: 1rem;
    margin: 0 auto;
  }
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 3.77rem 0rem;
  }
  .benefit {
    margin: 1.54rem;
  }
  .benefits span {
    font-size: 0.77rem;
  }
  .more-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .sub-title {
    text-align: center;
    width: 100%;
    padding-left: 0rem;
  }
  .info {
    width: 100%;
    margin-right: 0rem;
  }
  .info p {
    font-size: 0.77rem;
    margin-bottom: 4rem;
    padding: 1rem;
    text-align: justify;
  }
  .footer {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .footer span {
    display: none;
  }
  .footer img {
    padding-right: 0rem;
  }
}
